*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
}

a {
    text-decoration: none;
}
ul,
ol,
li {
    list-style: none;
}
img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
html, body {
    height: 100%;
    line-height: 1;
    font-size: 14px;
    color:#252B42;
    font-family: Montserrat;
    background: #FAFAFA;
}
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

._container {
    max-width: 1046px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: content-box;
}

._ibg {
    position: relative;
}

._ibg img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    object-fit: cover;
}


/*-------------HEADER------------------------*/

.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}

.header__container {
    display: flex;
    align-items: center;
    min-height: 104px;
    padding: 5px 0;  /*Отступы безопасности*/
}

.header__logo {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #252B42;
    letter-spacing: 0.1px;
}

.header__menu {
    margin: 0 0 0 132px;
}

.menu__ul {
    display: flex;
    flex-wrap: wrap;
}

.menu__li:not(:last-child) {
    margin: 0 21px 0 0;
}

.menu__link {
    font-weight: 600;
    font-size: 14px;
    line-height: calc(24 / 14 * 100%);
    letter-spacing: 0.2px;
    color: #737373;
}

.menu__link:hover {
    text-decoration: underline;
}



/*------------MAIN-------------------*/

.page {
    flex: 1 1 auto;
}
.main-block {
    position: relative;
}

.main-block__body {
    padding-top: 184px;
    position: relative;
    z-index: 2;
    max-width: 509px;
}

@media(max-width: 992px) {
    .main-block__body {
        padding-top: 124px;
    }
}

.main-block__body > *:not(:last-child) {
    margin-bottom: 35px;
}

.main-block__title {
    font-weight: 800;
    font-size: 58px;
    line-height: calc(80/58 * 100%);
    letter-spacing: 0.2px;
    color: #252B42;
}

@media(max-width: 992px) {
    .main-block__title {
        font-size: 42px;
    }
}

.main-block__subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: calc(30/20 * 100%);
    letter-spacing: 0.2px;
    color: #737373;
}

.main-block__buttons {
    display: flex;
    flex-wrap: wrap;
    margin: -10px 0;
    padding-bottom: 191px;
}

.main-block__button:not(:last-child) {
    margin-right: 10px;
}

.main-block__button {
    display: flex;
    justify-items: center;
    align-items: center;
    border-radius: 37px;
    min-height: 48px;
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.2px;
    padding: 10px 36px;
    margin: 10px 0;
    transition: background-color 0.3s ease;
}

@media(max-width: 479px) {
    .main-block__button {
        flex: 1 1 100%;
    }
}

.main-block__button_orange {
    background: #FF7B47;
    color: #FFFFFF;
}

.main-block__button_orange:hover {
    color: #FF7B47;
    background: #FFFFFF;
}

.main-block__button_green {
    border: 1px solid #0D5C63;
    color: #0D5C63;
}

.main-block__button_green:hover {
    color: #FFFFFF;
    background: #0D5C63;
}

.main-block__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media(max-width: 1300px) {
    .main-block__image img{
        object-position: right;
    }
}

@media(max-width: 992px) {
    .main-block__image img{
        opacity: 0.5;
    }
}


/*-----CARD-----------------------*/

.card-block__container {
    position: relative;
    z-index: 2;
    margin-top: -111px;
}

.card-block__body {
}

@media (min-width: 670px) {
    .card-block__body {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px -30px;
    }
}

.card-block__column {
    flex: 0 1 33.333%;
    margin-bottom: 30px;
}

@media (min-width: 670px) {
    .card-block__column {
        padding: 0 15px;
    }
}

@media (max-width: 992px) {
    .card-block__column {
        flex: 0 1 50%;
    }
}

.card-block__item {
    padding: 35px 40px;
    background: #FFFFFF;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}

.card-block__item > *:not(:last-child) {
    margin-bottom: 10px;
}

.card-block__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
    color: #252B42;
}

.card-block__subtitle {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #737373;
}

.card-block_green {
    background: #0D5C63;
}

.card-block__title_color-white {
    font-weight: 700;
    font-size: 24px;
    line-height: calc(32 / 24 *100%);
    letter-spacing: 0.1px;
    color: #FFFFFF;
}

.card-block__subtitle_color-white {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(20 / 14 *100%);
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

/*-------HEADER-BLOCK------------------------------*/
.header-block {
    text-align: center;
}

.header-block__title {
    font-weight: 700;
    font-size: 40px;
    line-height: calc(57 / 40 * 100%);
    letter-spacing: 0.2px;
    color: #252B42;
}

.header-block__title:not(:last-child) {
    margin-bottom: 10px;
}


.header-block__sub-title {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(20 / 14 * 100%);
    text-align: center;
    letter-spacing: 0.2px;
    color: #737373;
}

@media (max-width: 992px) {
    .header-block__title {
        font-size: 35px;
    }
}

/*-------ADVANTAGES--------------------------*/

.advantages {
    padding: 80px 0;
}

@media (max-width: 992px) {
    .advantages {
        padding: 60px 0;
    }
}

@media (max-width: 767px) {
    .advantages {
        padding: 40px 0;
    }
}

.advantages__header {
    margin-bottom: 50px;
}

.advantages__body {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px -30px;
}


.advantages__column {
    flex: 0 1 25%;
    padding: 0 15px;
    margin-bottom: 30px;
}

@media (max-width: 1020px) {
    .advantages__column {
        flex: 0 1 50%;
    }
}

@media (max-width: 560px) {
    .advantages__column {
        flex: 0 1 100%;
    }
}

.advantages__item {
    padding: 30px;
    background: #FFFFFF;
    text-align: center;
}

.advantages__item > *:not(:last-child) {
    margin-bottom: 10px;
}

.advantages__icon {
    height: 48px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.advantages__title {
    font-weight: 700;
    font-size: 40px;
    line-height: calc(57 / 40 * 100%);
    letter-spacing: 0.2px;
    color: #252B42;
}

.advantages__subtitle {
    font-weight: 700;
    font-size: 16px;
    line-height: calc(24 / 16 * 100%);
    text-align: center;
    letter-spacing: 0.1px;
    color: #737373;
}



/*-------ADVICE--------------------*/

.advice {
    padding: 125px 0 80px;
}

@media (max-width: 993px) {
    .advice {
        padding: 80px 0 80px;
    }
}

.advice__header {
    margin-bottom: 45px;
}

.advice__body {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px -30px;
}

.advice__column {
    flex: 0 1 25%;
    padding: 0px 20px;
    margin-bottom: 30px;
}

@media (max-width: 1040px) {
    .advice__column {
        flex: 0 1 50%;
    }
}

@media (max-width: 630px) {
    .advice__column {
        flex: 0 1 100%;
    }
}

.item-advice {
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.item-advice__content {
    padding: 30px;
    flex: 1 1 auto;
}

.item-advice__title {
    font-weight: 700;
    font-size: 16px;
    line-height: calc(24 / 16 * 100%);
    letter-spacing: 0.1px;
    color: #252B42;
}

.item-advice__link {
    color: inherit;
}

.item-advice__link:not(:last-child) {
    margin-bottom: 15px;
    display: flex;
}

.item-advice__link:hover {
    text-decoration: underline;
}

.item-advice__sub-title {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(20 / 14 * 100%);
    letter-spacing: 0.2px;
    color: #737373;
}

.item-advice__image {
    display: block;
    padding: 0 0 60% 0;
}


/*------------ABOUT-US-----------*/

.about-us {
    padding: 100px 0 130px 0;
    background: #FFFFFF;
}

.header-block__title_margin:not(:last-child) {
    margin-bottom: 15px;
}

.about-us__header {
    margin-bottom: 100px;
}

.about-us__body {
    display: flex;
    align-items: flex-start;
}

.about-us__video {
    flex: 0 0 57%;
    position: relative;
    padding: 0 0 42.25% 0;
}

.about-us__video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.about-us__content {
    flex: 1 1 auto;
    padding-left: 120px;
    padding-top: 20px;
}

.most-trusted__item {
    display: flex;
}

.most-trusted__item:not(:last-child) {
    margin-bottom: 30px;
}

.most-trusted__icon {
    flex: 0 0 32px;
}

.most-trusted__body {
    margin-left: 20px;
}

.most-trusted__title {
    font-weight: 700;
    font-size: 16px;
    line-height: calc(24 / 16 * 100%);
    letter-spacing: 0.1px;
    color: #252B42;
}

.most-trusted__title:not(:last-child) {
    margin-bottom: 5px;
}

.most-trusted__header:not(:last-child) {
    margin-bottom: 50px;
}

.header-block__title_align {
    text-align: left;
}

.header-block__sub-title_left-align {
    text-align: left;
}

@media (max-width: 950px) {
    .about-us {
        padding: 50px 0 60px 0;
    }

    .about-us__header {
        margin-bottom: 40px;
    }

    .about-us__body {
        flex-direction: column-reverse;
        align-items: stretch;
    }

    .about-us__video {
        padding: 0 0 56.25% 0;
    }

    .about-us__video:not(:last-child) {
        margin-top: 50px;
    }

    .about-us__content {
        padding-left: 10px;
        padding-top: 0;
    }
}

@media (max-width: 1080px) {
    .about-us__content {
        padding-left: 60px;
        padding-top: 0;
    }
}


/*-----CLIENTS-----------------------*/

.clients {
    padding: 50px 0px;
}

.clients__items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 8px 15px 8px;
}

.clients__item {
    flex: 0 1 16.666%;
    padding: 8px 15px 8px; /*Хз надо или нет*/
    text-align: center;
}


@media (max-width: 950px) {
    .clients__item {
        flex: 0 0 33.333%;
    }
}

/*--------SUBSCRIBE------------------*/

.subscribe {
    position: relative;
    padding-bottom: 20px;
}

.subscribe:before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 77px;
    left: 0px;
    background: #252B42;
}

.subscribe__body {
    position: relative;
    z-index: 2;
    background: #17213C;
    border-radius: 2px;
    padding: 30px 40px 30px 50px;
}

.subscribe__body > *:not(:last-child) {
    margin-right: 180px;
}

.subscribe__title {
    font-weight: 700;
    font-size: 24px;
    line-height: calc(32 / 24 * 100%);
    letter-spacing: 0.1px;
    color: #FFFFFF;
}

.subscribe__form {
    display: flex;
    align-items: center;
    flex: 0 1 50%;
    background: #F9F9F9;
    min-height: 58px;
    border: 1px solid #E6E6E6;
    border-radius: 5px;
}

.subscribe__input {
    font-family: inherit;
    padding: 15px 0 15px 20px;
    background: #F9F9F9;
    border: 1px solid #E6E6E6;
    border-radius: 5px;
    flex: 1 1 auto;
    min-height: inherit;
    border: none;
}

.subscribe__input:focus {
    color: #000;
}

.subscribe__button {
    font-family: inherit;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(28 / 14 * 100%);
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    background: #FF7B47;
    border: 1px solid #E6E6E6;
    border-radius: 0px 5px 5px 0px;
    min-height: inherit;
    flex: 0 0 26%;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.subscribe__button:hover {
    background: #c25833;
}

@media (min-width: 1070px) {
    .subscribe__body {
        margin: 0 32px;
    }
}

@media (min-width: 810px) {
    .subscribe__body {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

@media (max-width: 810px) {
    .subscribe__title {
        margin: 0 0 20px 0;
    }

    .subscribe__body {
        padding: 20px 30px 20px 30px;
        margin: 0 -15px; /* лайфхак как убрать быстро ненужные двойные отступы*/
    }
}

@media (max-width: 645px) {
    .subscribe__title {
        width: 100%;
    }
}

/*--------getintouch----------------*/

.getintouch {
    padding: 80px 0px 148px 0;
    margin-bottom: -80px;
}

.getintouch__container {
    padding: 0 32px 80px;
}

.getintouch__header {
    margin-bottom: 80px;
}

@media(max-width: 810px) {
    .getintouch__container {
        padding: 0 15px 50px;
    }

    .getintouch__header {
        margin-bottom: 40px;
    }
}

@media(min-width: 992px) {
    .getintouch__items {
        display: flex;
        align-items: center;
    }
}
.getintouch__item {
    flex: 0 1 33.333%;
}

.item-getintouch {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    padding: 50px 15px;
}

.item-getintouch_active {
    background: #252B42;
    color: #fff;
    padding: 80px 15px;
}

.item-getintouch_active .item-getintouch__button {
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
}

.item-getintouch > *:not(:last-child) {
    margin-bottom: 15px;
}

.item-getintouch__icon {
}

.item-getintouch__emails {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.item-getintouch__email {
    font-weight: 600;
    font-size: 14px;
    line-height: calc(24 / 14 * 100%);
    text-align: center;
    letter-spacing: 0.2px;
    color:inherit;
}

.item-getintouch__email:hover {
    text-decoration: underline;
}

.item-getintouch__label {
    font-weight: 700;
    font-size: 16px;
    line-height: calc(24 / 16 * 100%);
    text-align: center;
    letter-spacing: 0.1px;
    color: inherit;
}

.item-getintouch__button {
    font-weight: 600;
    font-size: 14px;
    line-height: calc(24 / 14 * 100%);
    text-align: center;
    letter-spacing: 0.2px;
    color: #FF7B47;
    border: 1px solid #FF7B47;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s ease 0s ;
}


.item-getintouch__button:hover {
    color: #fff;
    background-color: #FF7B47;
}

/*--------CONTACT-------------------*/

.contact {
    background-color: #FFFFFF;
    padding: 40px 0;
}

@media(min-width: 767px) {
    .contact__body {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .contact__content {
        padding-right: 20px
    }
}

.contact__content {
    padding-bottom: 20px
}

.contact__content > *:not(:last-child) {
    margin-bottom: 10px;
}

.contact__title {
    font-weight: 700;
    font-size: 24px;
    line-height: calc(32 / 24 * 100%);
    letter-spacing: 0.1px;
    color: #252B42;
}

.contact__sub-title {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(20 / 14 * 100%);
    letter-spacing: 0.2px;
    color: #737373;
}

.contact__button {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 58px;
    padding: 5px 40px;
    transition: background-color 0.3s ease;

    font-family: inherit;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(28 / 14 * 100%);
    letter-spacing: 0.2px;
    color: #FFFFFF;
    background: #FF7B47;
    border-radius: 5px;
    cursor: pointer;
}

.contact__button:hover {
    background: #974321;
}

/*-----------FOOTER------------------*/

.footer__top {
    background: #17213C;
    padding: 30px 0px;
}

.footer__main {
}
.footer__row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.footer__column {
    flex: 0 1 16.6667%;
    padding: 20px 15px;
}

.footer__column:last-child {
    flex: 0 1 33.334%;
}

@media(max-width: 992px) {
    .footer__column {
        flex: 0 1 25%;
    }
    .footer__column:last-child {
        flex: 0 1 100%;
    }
}

@media(max-width: 700px) {
    .footer__column {
        flex: 0 1 50%;
    }
}


.footer__label {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.1px;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.footer__menu {
}

.menu-footer {
}

.menu-footer__list {

}

.menu-footer__list > *:not(:last-child) {
    margin-bottom: 10px;
}

.menu-footer__item{}

.menu-footer__link {
    font-weight: 600;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    font-family: inherit;
}

.menu-footer__link:hover {
    text-decoration: underline;
}


.contacts-footer {
    display: flex;
    flex-direction: column;
}

.contacts__footer__item {
    display: flex;
    align-items: center;
    min-height: 30px;
    padding-left: 44px;

    font-weight: 600;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

.contacts__footer__item:hover {
    text-decoration: underline;
}

.contacts__footer__item:not(:last-child) {
    margin-bottom: 10px;
}

.contacts__footer__item_phone {
    background: url("img/footer/icons/01.svg") 0 0 no-repeat;
}

.contacts__footer__item_address {
    background: url("img/footer/icons/02.svg") 0 0 no-repeat;
}

.contacts__footer__item_email {
    background: url("img/footer/icons/03.svg") 0 0 no-repeat;
}



.footer__bottom {
    padding: 25px 0;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__copy {
    font-weight: 600;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.2px;
    color: #737373;
}

.footer__socials {
    display: flex;
    align-items: center;
}

.footer__socials > *:not(:last-child) {
    margin-right: 20px;
}

@media(max-width: 767px) {
    .footer__container {
        flex-direction: column;
    }
    .footer__copy {
        margin: 0 0 15px 0;
        text-align: center;
    }
}
