*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
}

a {
    text-decoration: none;
}
ul,
ol,
li {
    list-style: none;
}
img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
html, body {
    height: 100%;
    line-height: 1;
    font-size: 14px;
    color:#252B42;
    font-family: Montserrat;
    background: #FAFAFA;
}
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

._container {
    max-width: 1046px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: content-box;
}

._ibg {
    position: relative;
}

._ibg img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    object-fit: cover;
}


/*-------------HEADER------------------------*/

.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}

.header__container {
    display: flex;
    align-items: center;
    min-height: 104px;
    padding: 5px 0;  /*Отступы безопасности*/
}

.header__logo {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #252B42;
    letter-spacing: 0.1px;
}

.header__menu {
    margin: 0 0 0 132px;
}

.menu__ul {
    display: flex;
    flex-wrap: wrap;
}

.menu__li:not(:last-child) {
    margin: 0 21px 0 0;
}

.menu__link {
    font-weight: 600;
    font-size: 14px;
    line-height: calc(24 / 14 * 100%);
    letter-spacing: 0.2px;
    color: #737373;
}



/*------------MAIN-------------------*/

.page {
    flex: 1 1 auto;
}
.main-block {
    position: relative;
}

.main-block__body {
    padding-top: 184px;
    position: relative;
    z-index: 2;
    max-width: 509px;
}

@media(max-width: 992px) {
    .main-block__body {
        padding-top: 124px;
    }
}

.main-block__body > *:not(:last-child) {
    margin-bottom: 35px;
}

.main-block__title {
    font-weight: 800;
    font-size: 58px;
    line-height: calc(80/58 * 100%);
    letter-spacing: 0.2px;
    color: #252B42;
}

@media(max-width: 992px) {
    .main-block__title {
        font-size: 42px;
    }
}

.main-block__subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: calc(30/20 * 100%);
    letter-spacing: 0.2px;
    color: #737373;
}

.main-block__buttons {
    display: flex;
    flex-wrap: wrap;
    margin: -10px 0;
    padding-bottom: 191px;
}

.main-block__button:not(:last-child) {
    margin-right: 10px;
}

.main-block__button {
    display: flex;
    justify-items: center;
    align-items: center;
    border-radius: 37px;
    min-height: 48px;
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.2px;
    padding: 10px 36px;
    margin: 10px 0;
}

@media(max-width: 479px) {
    .main-block__button {
        flex: 1 1 100%;
    }
}

.main-block__button_orange {
    background: #FF7B47;
    color: #FFFFFF;
}

.main-block__button_green {
    border: 1px solid #0D5C63;
    color: #0D5C63;
}

.main-block__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media(max-width: 1300px) {
    .main-block__image img{
        object-position: right;
    }
}

@media(max-width: 992px) {
    .main-block__image img{
        opacity: 0.5;
    }
}


/*-----CARD-----------------------*/

.card-block__container {
    position: relative;
    z-index: 2;
    margin-top: -111px;
}

.card-block__body {
}

@media (min-width: 670px) {
    .card-block__body {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px -30px;
    }
}

.card-block__column {
    flex: 0 1 33.333%;
    margin-bottom: 30px;
}

@media (min-width: 670px) {
    .card-block__column {
        padding: 0 15px;
    }
}

@media (max-width: 992px) {
    .card-block__column {
        flex: 0 1 50%;
    }
}

.card-block__item {
    padding: 35px 40px;
    background: #FFFFFF;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}

.card-block__item > *:not(:last-child) {
    margin-bottom: 10px;
}

.card-block__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
    color: #252B42;
}

.card-block__subtitle {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #737373;
}

.card-block_green {
    background: #0D5C63;
}

.card-block__title_color-white {
    font-weight: 700;
    font-size: 24px;
    line-height: calc(32 / 24 *100%);
    letter-spacing: 0.1px;
    color: #FFFFFF;
}

.card-block__subtitle_color-white {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(20 / 14 *100%);
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

/*-------HEADER-BLOCK------------------------------*/
.header-block {
    text-align: center;
}

.header-block__title {
    font-weight: 700;
    font-size: 40px;
    line-height: calc(57 / 40 * 100%);
    letter-spacing: 0.2px;
    color: #252B42;
}

.header-block__title:not(:last-child) {
    margin-bottom: 10px;
}


.header-block__sub-title {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(20 / 14 * 100%);
    text-align: center;
    letter-spacing: 0.2px;
    color: #737373;
}

@media (max-width: 992px) {
    .header-block__title {
        font-size: 35px;
    }
}

/*-------ADVANTAGES--------------------------*/

.advantages {
    padding: 80px 0;
}

@media (max-width: 992px) {
    .advantages {
        padding: 60px 0;
    }
}

@media (max-width: 767px) {
    .advantages {
        padding: 40px 0;
    }
}

.advantages__header {
    margin-bottom: 50px;
}

.advantages__body {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px -30px;
}


.advantages__column {
    flex: 0 1 25%;
    padding: 0 15px;
    margin-bottom: 30px;
}

@media (max-width: 1020px) {
    .advantages__column {
        flex: 0 1 50%;
    }
}

@media (max-width: 560px) {
    .advantages__column {
        flex: 0 1 100%;
    }
}

.advantages__item {
    padding: 30px;
    background: #FFFFFF;
    text-align: center;
}

.advantages__item > *:not(:last-child) {
    margin-bottom: 10px;
}

.advantages__icon {
    height: 48px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.advantages__title {
    font-weight: 700;
    font-size: 40px;
    line-height: calc(57 / 40 * 100%);
    letter-spacing: 0.2px;
    color: #252B42;
}

.advantages__subtitle {
    font-weight: 700;
    font-size: 16px;
    line-height: calc(24 / 16 * 100%);
    text-align: center;
    letter-spacing: 0.1px;
    color: #737373;
}



/*-------ADVICE--------------------*/

.advice {
    padding: 125px 0 80px;
}

@media (max-width: 993px) {
    .advice {
        padding: 80px 0 80px;
    }
}

.advice__header {
    margin-bottom: 45px;
}

.advice__body {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px -30px;
}

.advice__column {
    flex: 0 1 25%;
    padding: 0px 20px;
    margin-bottom: 30px;
}

@media (max-width: 1040px) {
    .advice__column {
        flex: 0 1 50%;
    }
}

@media (max-width: 630px) {
    .advice__column {
        flex: 0 1 100%;
    }
}

.item-advice {
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.item-advice__content {
    padding: 30px;
    flex: 1 1 auto;
}

.item-advice__title {
    font-weight: 700;
    font-size: 16px;
    line-height: calc(24 / 16 * 100%);
    letter-spacing: 0.1px;
    color: #252B42;
}

.item-advice__link {
    color: inherit;
}

.item-advice__link:not(:last-child) {
    margin-bottom: 15px;
    display: flex;
}

.item-advice__link:hover {
    text-decoration: underline;
}

.item-advice__sub-title {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(20 / 14 * 100%);
    letter-spacing: 0.2px;
    color: #737373;
}

.item-advice__image {
    display: block;
    padding: 0 0 60% 0;
}

/*-----------FOOTER------------------*/



